<% guide = data.guides[coach] %>
<div class="guide-banner" style="background-image: url('<%= image_path guide.picture %>'); height: 30vh; background-position:center bottom;">
knvdslknds
</div>

<div class="wrapper-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag guide.coach_picture, class: "avatar-large" %>
        <p><%= guide.coach_name %></p>
        <h3><%= guide.summary %></h3>
        <p><%= guide.city %></p>
      </div>
      <div class="col-xs-12 col-sm-4">

      </div>
    </div>
  </div>

</div>

